@model TestApp3.Dto.DepartmentDto
    


@{
}
<form method="post"asp-controller="Department"asp-action="AddEdit">

    <table class="table-bordered table">
        <tr>
            <td>
                <label for="Name">Name</label>
                <input type="text"asp-for="Name" />
            </td>h
            <td>
                <label for="Code">Code</label>
                <input type="text" asp-for="Code" />

                <input type="hidden" asp-for="Id"/>
            </td>
            <td>
                <button type="submit">submit</button>
                <a href="/department/index">back</a>
            </td>
        </tr>
    </table>
</form>